td{
    border: 2px solid #333; 
    height: 100px;
    width: 100px; 
    text-align: center;
    vertical-align: middle;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 70px;
    cursor: pointer;
}

table{
    display:none;
    border-collapse: collapse;
    position: absolute;
    left: 50%;
    margin-left: -155px;
    top:200px;
}

table tr:first-child td{
    border-top: 0;
    border-radius: 5px;
}

table tr:last-child td{
    border-bottom: 0;
    border-radius: 5px;
}

table tr td:first-child{
    border-left: 0;
    border-radius: 5px;
}

table tr td:last-child{
    border-right: 0;
    border-radius: 5px;
}

.endgame{
    display: none;
    width: 200px;
    top: 120px;
    background-color: #f04419;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}

.start{
    display: block;
    width: 200px;
    top: 120px;
    background-color: #f04419;
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}
